@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin flex-column-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

@mixin button {
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    border-radius:5px;
}